@import "tailwindcss";

.header{
    background-image: url("../public/assets/resources/bg-cafe-lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1280px) {
    .header{
        background-image: url("../public/assets/resources/bg-cafe.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    .header{
        background-image: url("../public/assets/resources/bg-cafe.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}