* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #111315;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: white;
}

.author-info a {
    color: #BEE3CC;
    text-decoration: none;
}
